* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
.logo {
	font-size: 36px;
	font-family: Proxima Nova;
	color: crimson;
	font-weight: bold;
	width: 120px;
	cursor: pointer;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.navbar{
	width: 87%;
	padding: 30px ;
	margin: auto;
	align-items: center;
	position: fixed;
	top: 0;
	left: 90spx;
	z-index: 999;
	margin-left: 94px;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;	
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
nav ul li a::after{
	content:'';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}

/* Hero Section */
#hero{
	background-image: url("background.jpeg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1ss;
}
#hero h2{
	color: white;
	font-size: 15px;
}
#hero h1:nth-child(1){
	animation-delay: 1s;
}
#hero h1:nth-child(2){
	animation-delay: 2s;
}

/*efek */
#hero h1 span{ 
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span{
	animation-delay: .5s;
}
#hero h1:nth-child(2) span{
	animation-delay: 1.5s;
}
#hero .cta{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease background-color;
	transition-property: background-color, color;
}
#hero .cta:hover{
	color: white;
	background-color: crimson;
}
/* end hero section */
/*keyframes*/
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left: 0;
	}
	100%{
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal{
	100% {
		color: white;
	}
}
#about{
	padding: 10px 0;
	background-color: black;
	color: #ababab;
}	
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}	
.about-col-1 img{
	width: 60%;
	border-radius: 15px;
	margin-left: 100px;
}
.about-col-2{
	flex-basis: 60%;
	text-align: justify;

}
.sub-title{
	font-size: 60px;
	font-weight: 600;
	color: white;
}	
.about-text {
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: white;
  margin-right: 50px;
}
/* skill */
#skill{
	background-color: black;
	padding: 100px 0;
	color: white;

}
.title{
	font-size: 30px;
	text-align: center;
}
.skill-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;	
	color: white;
	text-align: center;
}
.skill-list div{
	background:#ff004f;
	padding: 40px;
	font-size: 13px;
	font-weight: 300px;
	border-radius: 10px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	transition: background 0.5s, transform 0.5s;
}
.skill-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}
.skill-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.skill-list div a{
	text-decoration: none;
	color: #fff;
	font-size: 12px; 
	margin-top: 20px;
	display: inline-block;
}
.skill-list div:hover{
	background: #ff004f;
	transform: translateY(-10px);
}
#contact {
	
  text-align: center; /* Ubah posisi teks menjadi di tengah */
  margin: 100px; /* Tambahkan margin 20px di sekeliling elemen */
  padding: 10px; /* Tambahkan padding 10px di sekeliling konten elemen */
  /* Tambahkan border dengan ketebalan 2px dan warna #ccc */
   /* Ubah warna background menjadi #f2f2f2 */
  color: #333; /* Ubah warna teks menjadi #333 */
  font-size: 18px; /* Ubah ukuran font menjadi 16px */
  /* Tambahkan properti CSS lain sesuai kebutuhan Anda */
}
.social-icons{
	margin-top: 20px;
	font-size: 40px;
}
#copyright{
	background-color: black;
	padding: 22px;
	color: white;
	text-align: center;
	font-size: 15px;
}

/* small screen */
nav .fas{
	display: none;
}
@media only screen and (max-width: 600px){
	#hero{
		background-image:
	}
	.navbar{
	width: 87%;
	padding: 30px ;
	margin: auto;
	align-items: center;
	position: fixed;
	top: 0;
	left: 90spx;
	z-index: 999;
	margin-left: 15px;
    }	
    #hero h1{
		font-size: 20px;
	}
	#hero h2{
		color: white;
		font-size: 10px;
	}
	#hero .cta{
		display: inline-block;
		padding: 10px 30px;
		color: white;
		background-color: transparent;
		border: 2px solid crimson;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin-top: 30px;
		transition: .3s ease background-color;
		transition-property: background-color, color;
    }
	nav .fas{
		display: block;
		font-size: 25px;
	}	
    nav ul{
		background: crimson;
		position: fixed;
		top: 0;
		right: -200px;
		width: 160px;
		height: 50vh;
		padding-top: 50px;
		padding-left: 10px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	#contact {
		text-align: center; /* Ubah posisi teks menjadi di tengah */
		margin: 100px; /* Tambahkan margin 20px di sekeliling elemen */
		padding: 10px; /* Tambahkan padding 10px di sekeliling konten elemen */
		/* Tambahkan border dengan ketebalan 2px dan warna #ccc */
		/* Ubah warna background menjadi #f2f2f2 */
		color: #333; /* Ubah warna teks menjadi #333 */
		font-size: 12px; /* Ubah ukuran font menjadi 16px */
		/* Tambahkan properti CSS lain sesuai kebutuhan Anda */
	}
	.social-icons{
		margin-top: 20px;
		font-size: 30px;
	}
	.sub-title{
		font-size: 40px;
		text-align: center;text-align: justify;
		margin-right: 55px;
	}
	.about-col-1 img{
		width: 50%;
		border-radius: 15px;
		margin-left: 40px;
	}
	.about-col-1, .about-col-2{
		flex-basis: 100%;
		margin-left: 60px;
	}
	.about-col-1{
		margin-bottom: 30px;
	}
	.about-col-2{
		font-size: 14px;
	}
	.about-text {
		font-size: 15px;
		font-family: Arial, sans-serif;
		color: white;
		margin-right: 50px;
		text-align: justify;
	}
	.skill-list div{
		background:#ff004f;
		padding: 20px;
		font-size: 13px;
		font-weight: 300px;
		border-radius: 10px;
		color: white;
		margin-left: 10px;
		margin-right: 10px;
		transition: background 0.5s, transform 0.5s;
	}
	
	
	
}

